body{
background-image : url(background3.jpg);
font-size: 16px;
font-family: 'Lato', sans-serif;
font-weight: 300;
margin: 0;
color: white;
text-align: center;
}

#label-content{
color:red;
font-size: 20px;

}
